.player_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    align-items: center;
    justify-content: center;
}

.lobby {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    width: 100%;
}

.signupButton {
    margin: 20px !important;
}

.userInfo {
    background-color: lightcyan;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}