#sign-in-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sign-in-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 48px;
    margin-bottom: 48px;
    padding: 48px;
}

#sign-in-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sign-in-button {
    margin-top: 48px;
}